<span class="label red">Next Meetup</span>

<div class="meetup-info">
	<h4>{{meetup.title}}</h4>
	<address>with
    <span ng-repeat="speaker in meetup.speakers">
      <a ng-href="{{speakerUrl(speaker)}}" rel="author">{{speaker.name}}</a>
    </span>
  </address>

	<p>{{meetup.description}}</p>
</div>

<div class="meetup-location">
	<time class="meetup-date">
		{{meetup.date.month}} {{meetup.date.day}}
		<span class="year">{{meetup.date.year}}</span>
	</time>

	<span class="vcard"><a ng-href="{{meetup.location.mapURL}}" class="fn org url"><i class="icon-location"></i> {{meetup.location.name}}</a></span>
	<time class="meetup-time"><i class="icon-clock"></i>{{meetup.date.time}}</time>

</div>
